@media screen and (max-width:855px) {
   
  *{
    box-sizing: border-box;
  }
  .header-text-container{
    min-width: 100%;
  }
  .nav-dextop{
    display: none;
  }
  .nav-logo-mobile{
    height: 100%;
    display: flex;
  }
  .mobile-logo{
    display: flex;
    align-items: center;
    color: white;
    font-weight: bolder;
  }
  .mobile-logo-image{
    width: 50px;
    height: 29px;
  }
  .mobile-logo p{
    margin-left: 5px;
  }
  .header-banner-section{
    padding: 120px 0 30px 0;
    background-position: bottom;
  }

  /* about us section starts .header-banner-section */
  .about-us-container{
    justify-content: center;
  }
  .abou-us-text{
    min-width: 100%;
    /* margin: 20px 0; */
  }
  .about-us-image{
    min-width: 100%;
    margin: 20px 0;

  }
  .pad{
    margin-bottom: 20px;
  }

  /* about us section endss .header-banner-section      */
        
}